<div class="example-container">

  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon *ngIf="!snav.opened">menu</mat-icon>
      <mat-icon *ngIf="snav.opened">close</mat-icon>
    </button>
    <h1 class="example-app-name">Factura Smart</h1>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav style="width: 200px">
      <button mat-menu-item (click)="snav.toggle()" style="cursor: pointer" routerLink="/cliente">
        <mat-icon>face</mat-icon>
        <span>Cliente</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="snav.toggle()" style="cursor: pointer" routerLink="/producto">
        <mat-icon>shopping_basket</mat-icon>
        <span>Producto</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="snav.toggle()" style="cursor: pointer" routerLink="/factura">
        <mat-icon>article</mat-icon>
        <span>Factura</span>
      </button>
      <mat-divider></mat-divider>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>



</div>